.mobile-nav {
  background: radial-gradient(circle, rgb(124, 124, 124) 0%, rgb(26, 26, 26) 100%);
}

.navbar {
  box-shadow: -0.2vw 0.2vw 0.5vw gray;
  &:hover {
    background-color: rgb(220, 220, 220);
    transition: .6s;
  }
}
