.zeldin-quote {
  background: radial-gradient(circle, rgb(255, 255, 0) 0%, rgb(213, 135, 0) 100%);
  //padding: 6vw;
  margin-top: 0.5rem;
  //border-radius: 25% 10%;
  padding: 5vw;
  user-select: none;
}

.signature {
  margin-left: 40vw;
  //font-size: 2rem;
}

.citation {
  //font-size: 4rem;
  color: rgb(60, 60, 60);
  text-shadow: 0.4vw 0.4vw 0.5vw rgb(158, 158, 158);
}

.gastronomie {
  //font-size: 6rem;
}

.bonheur {
  //font-size: 5rem;
}

.phrase2 {
  //margin-left: 10vw;
}
